body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    background: #222;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.canvas {
    margin-top: 100px;
}

.button {
    height: 80px;
    width: 80px;
    display: inline-block;
    border: 2px solid black;
    cursor: pointer;
    margin: 10px;
}

#grey {
    background: grey;
}

#white {
    background: white;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}
